/* Light theme */
:root {
  --background-color: #f2efef;
  --text-color: #333;
  --header-background: #ffffff;
}

/* Dark theme */
:root[data-theme='dark'] {
  --background-color: #000;
  --text-color: #fff;
  --header-background: #001529;
 
}

/* Apply the variables to your components */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.site-layout {
  background-color: var(--background-color);
}

.site-layout-background {
  background-color: var(--header-background);
  /* background-color: #ffffff; */
  color: #fff;
}




/* Add hover effect to the selected item */
.custom-menu-light .ant-menu-item-selected:hover,
.custom-menu-dark .ant-menu-item-selected:hover {
  background-color: #002f5e; /* Change to the desired hover background color */
  color: #fff; /* Change to the desired hover text color */
}


.todo{
  background-color: rgba(177, 177, 179, 0.85);
 
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: 16px;
padding: 5px;
  height: 40px;
}
.div-text{
  /* margin-top: 20px; */
}
